#
# This file is part of My Zsh Config
# 
# Copyright (c) 2014 Guillaume Kulakowski <guillaume@kulakowski.fr> 
# Depend of Oh My Zsh (https://github.com/robbyrussell/oh-my-zsh)
#
# Distributed under the GNU GPL v2. For full terms see the file LICENSE.
#

# Override HOST_COLOR from ozit.zsh.theme and motd plugin
ZSH_HOST_COLOR=magenta

# Override plugins list
plugins=(bower capistrano colored-man common-aliases composer cp git git-extras git-flow history npm phing screen sudo symfony2 systemadmin systemd vagrant z)

# Set argument to fortune in motd plugin
#ZSH_FORTUNE_ARG="/usr/share/games/fortune-fr/"
ZSH_FORTUNE_ARG="/usr/local/share/games/fortunes/"

# Set theme
ZSH_THEME="ozit"
#ZSH_THEME="ozit-simple"
